.main-slider-area.row{
	@media (min-width: 1920px){
		max-width: 1920px;
		margin: 0 auto;
	}
}

.rev_slider{
	overflow: hidden;
	.welcome-Title{
		font-weight: 300;
		&:after{
			content: '';
			width: 46px;
			height: 2px;
			display: block;
			margin-top: 20px;
		}
	}
	.welcome-Title2{
		padding: 30px !important;
		@media (max-width: 991px){
			text-align: center;
		}
		@media (max-width: 479px){
			padding: 15px !important;
		}
		&:after{
			display: none;
		}
	}
	.welcome-Title3{
		@media (max-width: 991px){
			text-align: center;
		}
		&:after{
			display: none;
		}
	}
	.welcome-Content{
		font-weight: 300;
	}
	.welcome-Content2{
		@media (max-width: 991px){
			display: none;
		}
	}
	.slide-Img{
		img{
			max-width: 100% !important;
			height: auto !important;
		}
	}
	.check-o-list{
		@media (max-width: 991px){
			display: none;
		}
		li{
			& + li{
				margin: 0;
			}
		}
	}
	
	.slide-Video{
		box-shadow: 0px 0px 9px 0px rgba(32, 43, 51, 0.9);
		border: 20px solid;
	}
}