.shop-content{
	padding: 85px 15px 140px;
	@media (max-width: 991px){
		padding-top: 0;
	}
	@media (max-width: 767px){
		max-width: 580px;
		margin: 0 auto;
	}
	@media (max-width: 579px){
		max-width: 480px;
		margin: 0 auto;
	}
	@media (max-width: 479px){
		max-width: 290px;
		margin: 0 auto;
	}
}

.product{
	padding: 15px;
	@media (max-width: 767px){
		max-width: 290px;
		float: left;
	}
	@media (max-width: 579px){
		max-width: 240px;
	}
	@media (max-width: 479px){
		max-width: 100%;
	}
	.img-holder{
		margin: 0;
		position: relative;
	}
	.product-img{
		max-width: 100%;
	}
	.sale-new-tag{
		line-height: 24px;
		display: inline-block;
		padding: 0 13px;
		min-width: 48px;
		font-weight: 300;
		font-size: 12px;
		text-transform: capitalize;
		position: absolute;
		top: 0;
		left: 0;
	}
	.hover-box{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		opacity: 0;
		@include transition;		
		.btn-holder{
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			flex: 1;
			align-items: center;
			.row{				
				text-align: center;
				width: 100%;
			}
		}
		.btn{			
		}
	}
	
	.pro-title{
		margin-top: 30px;
		font-weight: 500;
	}
	.pro-about{
		font-weight: 300;
		margin-bottom: 15px;
	}
	.proRating{
		margin-bottom: 5px;
		.starred{
		}
	}
	.price{
		margin: 0 0 20px;
		del{
			font-size: 14px;
			margin-right: 10px;
		}
	}
	
	&:hover,&:focus{
		.hover-box{
			opacity: 1;
		}
	}
}

/*DEtails*/
.product-details{
	padding: 15px 0 60px;	
	@media (max-width: 767px){
		max-width: 100%;
	}
	.media-left{
		padding-right: 30px;
		@media (max-width: 767px){
			display: block;
			padding-bottom: 30px;
			padding-right: 0;
		}
		.img-holder{
			display: block;
			width: 360px;
			max-width: 100%;
		}
	}
	.media-body{		
		@media (max-width: 767px){
			width: 100%;
			display: block;
		}
	}
	.pro-title{
		margin-top: 0;
		font-size: 22px;
	}
	.price{
		margin-bottom: 30px;
	}
	.pro-about{
		margin-bottom: 35px;
	}
	.quantity-cart{
		padding-bottom: 35px;
		border-bottom: 1px solid;
		margin-bottom: 25px;
	}
	.quantity{
		width: 62px;
		line-height: 36px;
		height: 38px;
		box-shadow: none;
		border-radius: 0;
		margin-right: 10px;
		padding: 0 14px;
		font-weight: 700;
	}
	.btn-sm{
		height: 38px;
		line-height: 38px;
	}
	.pro-cats{
		margin: 0;
		font-weight: 500;
		a{
			margin-left: 3px;
		}
	}
}

.related-products{
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 500;
}